.background_projetos {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -50;
  font-size: 5vw;
  font-family: "Archivo Black", sans-serif;
  color: rgba(237, 237, 237, 0.4);
  letter-spacing: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Define o número de colunas */
  grid-template-rows: repeat(25, minmax(50px, 1fr)); /* Define o número de linhas */
  gap: 1rem;
  row-gap: 3rem;
  overflow: hidden;
}

.background_projetos p, .background_projetos {
  margin: 0;
  padding: 0;
  line-height: 2;
  text-align: center;

}

.background_projetos .brilhante {
  color: rgba(237, 237, 237, 1);
}

@media screen and (max-width: 768px) {
  .background_projetos {
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
    line-height: 0.1;
    row-gap: 1rem;
    height: 115vh;
  }
  
}