*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ProjetoIndPai{
  background-color: #88e1f5;
  width: 100%;
  height: auto;
}


/* header */

.HeaderImageWrapper {
  position: relative; 
  width: 100vw;
  height: 70vh;
}

.HeaderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Degrade {
  position: absolute; 
  top: 1rem;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem cubra toda a área */
  z-index: 1; 
}

.HeaderImage {
  z-index: 0; 
}

.ProjetoIndPai i{
  font-size: 5rem;
  color: #ffffff;
  top: 5rem;
  left: 5rem;
  position: absolute;
  z-index: 15;
  cursor: pointer;
}

.ProjetoIndPai i:hover{
  color: #37c0e6;
}

/* fim header */

/* texto */
.ProjetoIndPai h1{
  font-size: 5vw;
  font-family: "Archivo Black", sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: #000000a1 0.1rem 0.1rem 0.2rem;
  margin-left: 10%;
  z-index: 10;
}

.ProjetoIndPai h2 {
  position: absolute;
  writing-mode: vertical-rl; 
  transform: translateX(0%) translateY(0%) rotate(360deg); 
  left: 0; 
  top: 74%; 
  margin: 0; 
  font-size: 8vw;
  font-family: "Archivo Black", sans-serif;
  color: #7dcfe1;
  text-wrap: nowrap;
  pointer-events: none;
  
}

.ProjDescricao{
  font-size: 2vw;
  font-family: "Archivo Black", sans-serif;
  color: #002060;
  text-shadow: #000000a1 0.1rem 0.1rem 0.2rem;
  margin-left: 10%;
}

.ProjDescricaoFull{
  font-size: 1.2vw;
  text-align: justify;
  font-family: "Archivo Black", sans-serif;
  color: #000000;
  margin: 2rem 10%;
}

/* fim textos */


/* tags */
.Proj-div-tags {
  margin: 2rem 10%;
}

.Proj-div-tags h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  color: rgb(28, 72, 142);
  margin: 0;
  padding-top: 1rem;
}

.Proj-div-tags span {
  font-size: 1.5vw;
  font-weight: bolder;
  color: rgb(28, 72, 142);
  margin-right: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  background-color: #3ddbff86;
}

/* fim tags */


/* imagens */

.grid-pai {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 2rem 0; */
}

.grid-container {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px; 
  justify-content: center

}

.grid-container img {
  width: 100%; 
  height: 100%;
  object-fit: cover; /* imagens não fiquem distorcidas */
  border-radius: 2rem;
}
/* fim imagens */

/* botão */

.Projeto-Botao{
  display: flex;
  font-size: 1.2vw;
  text-align: justify;
  font-family: "Archivo Black", sans-serif;
  color: #000000;
  margin: 2rem 10%;
}

.Projeto-Botao button {
  font-size: 2rem;
  font-weight: bolder;
  color: #ffffff;
  background-color: rgb(28, 72, 142);
  padding: 0.5rem 2rem;
  pointer-events: all;
  cursor: pointer;
  border-radius: 23rem;
  margin-right:2rem;
  transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.Projeto-Botao button:hover {
  background-color: #37c0e6; /* Cor de hover para melhorar a interatividade */
}

/* fim botão  */

@media (max-width: 768px) {
.Degrade {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem cubra toda a área */
  z-index: 1; 
}

.ProjetoIndPai{
  overflow: hidden;
  height: auto;
}

.ProjetoIndPai i{
  font-size: 3rem;
  color: #ffffff;
  top: 2rem;
  left: 2rem;
  position: absolute;
  z-index: 15;
  cursor: pointer;
}
.Projeto-Botao button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  }

  .HeaderImageWrapper{
    width: auto;
    height: 40vh;
  }

  .ProjetoIndPai h2 {
    top: 40%; 
  }

  
}