a{
  text-decoration: none;
}

.projetos-pai{
  /* top: auto; */
  position: relative;
  width: 100vw;
  height: 100vh; 

}


.projetos-pai h1 {
  position: absolute;
  writing-mode: vertical-rl; 
  transform: translateX(170%) translateY(7%) rotate(180deg); 
  left: 0; 
  top: 25%; 
  margin: 0; 
  font-size: 4vw;
  font-family: "Archivo Black", sans-serif;
    color: rgb(28, 72, 142);
}


@media screen and (max-width: 768px) {

  .projetos-pai{
    top: 40rem;
  }

  .projetos-pai h1 {

    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    line-height: 2rem; 
    font-size: 7rem;
    right: 0; 
    top: 0; 
    transform: translateX(5%) translateY(7%) rotate(180deg); 
    z-index: -1;
  }
}