.conteiner-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 25rem;
  padding: 0rem 0rem 2rem 0rem;
  overflow: hidden;
  border-radius: 5rem;
  /* border: 1px solid #f1f1f1; */
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.48);
  background-color: #ffffff;
  font-family: "Archivo Black", sans-serif;
}

.conteiner-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #f1f1f1e2;
  transform: scale(1.04);
  transition: all 1.3s ease;
}

.conteiner-card img {
  min-width: 100%;
  height: 15rem;
  max-height: 15rem;
  object-fit: cover;
}

.div-tags {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-tags h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
  color: rgb(28, 72, 142);
  margin: 0;
  padding: 1rem 0;
}

.div-tags span {
  font-size: 0.6rem;
  font-weight: bolder;
  color: #ffffff;
  margin: 0.3rem;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  background-color: rgb(28, 72, 142);
}

.botao-card button {
  text-align: center;
  justify-self: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  color: #ffffff;
  background-color: rgb(28, 72, 142);
  border: none;
  width: 100vw;
  font-weight: bolder;
  line-height: 4rem;
  padding-bottom: 2rem;
}

.botao-card button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(53, 130, 255);
  transition: all 1.3s ease;
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .conteiner-card {
    width: 10rem;
    height: 12rem;
    padding-bottom: 0.1rem;
  }

  .conteiner-card img {
    width: 10rem;
    height: 100%;
    max-height: 5rem;
  }

  .div-tags h2 {
    font-size: 1rem;
    padding: 0.5rem 0;
  }

  .div-tags span {
    font-size: 0.3rem;
    padding: 0.1rem 0.5rem;
    margin-right: 0.2rem;
  }

  .botao-card button {
    font-size: 0.5rem;
    line-height: 2rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    width: 10rem;
  }
}
