.SkillCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 20vh;
    padding: 1rem 5rem;
    margin:auto;
    border-radius: 1rem;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 150%;
    color: rgb(28, 72, 142);
    background-color: #f1f1f192;
    /* transition: all 0.3s ease; */
}

.SkillCard i{
  font-size: 300%;
  color: rgb(28, 72, 142);
  align-self: center;
}

@media screen and (max-width: 768px){
    .SkillCard{
    width: 10vw;
    height: 10vw;
    margin: 1rem auto;
    padding: 3rem;
    box-sizing: border-box;
    }
    .SkillCard i{
    font-size: 150%;
    text-align: center;
    }

    .SkillCard h2{
    font-size: 1rem;
    text-align: center;
    }

/* //------------------------------ */
      /* .SkillCard {
    width: 80%; 
    height: auto; 
    margin: 1rem auto; 
    padding: 1rem; 
    box-sizing: border-box;
  }

  .SkillCard i {
    font-size: 150%;
    text-align: center;
  }

  .SkillCard h2 {
    font-size: 1.5rem; 
    text-align: center;
  }
   */
}