*{
  border:0;
  padding: 0;
}

.fundo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Garantir que cubra a altura da tela */
  z-index: -1;
}

html {
  scroll-behavior: smooth;
}


.fade-wrapper {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-wrapper.visible {
  opacity: 1;
}

.fade-wrapper.hidden {
  opacity: 0;
}


