.SkillDiv{
  /* background-color: aquamarine; */
  position: relative;
  height: 100vh; /* Garantir que o contêiner tenha altura suficiente */
  display: flex;
  flex-direction: column; /* Permite o alinhamento vertical dos itens */
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Alinha verticalmente no centro */
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 2rem;
  width: 60%;
  height: 30%;
  margin: auto;
  margin-top: 2rem;
}

li {
  margin: 1rem;
}

.SkillDiv h1 {
  position: absolute;
  writing-mode: vertical-rl; 
  transform: translateX(170%) translateY(7%) rotate(180deg); 
  left: 0; 
  top: 0; 
  margin: 0; 
  font-size: 4vw;
  font-family: "Archivo Black", sans-serif;
    color: rgb(28, 72, 142);
}

.UlDiv{
  position: absolute;
  top:7rem;
}


@media screen and (max-width: 768px) {
  ul {
    width: 90%;
  }

  .SkillDiv h1 {

    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    line-height: 2rem; 
    font-size: 7rem;
    right: 0; 
    top: 10rem; 
    transform: translateX(5%) translateY(7%) rotate(180deg); 
  }
}