.SkillCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 100%;
    padding: 1rem 5rem;
    margin:auto;
    border-radius: 1rem;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 150%;
    color: rgb(28, 72, 142);
    background-color: #f1f1f192;
    /* transition: all 0.3s ease; */
}

.SkillCard i{
  font-size: 300%;
  color: rgb(28, 72, 142);
}

@media screen and (max-width: 768px){
    .SkillCard{
    font-size: 100%;
    width: 1rem;
    }
  
}